/*embed the font from the font folder*/
@font-face {
  font-family: 'branded';
  src: url(../font/BebasNeue-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, form, fieldset, label, legend {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    font-family: Verdana, sans-serif;
    color: #3e3e3e;
    background-color: #ffffff;
}

input {
  font-family: Verdana, sans-serif;
  color: inherit;
  font-size: 1em;
}

ul {
	list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'branded';
    font-weight: normal;
    color: #3e3e3e;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

#page {
  width: 90%;
  margin: auto;
}

#pageheader {
  padding: 0.5em 0 4em 0;

}

#pageheader h1 {
  float: left;
  font-size: 4em;
  color: #127208;
  text-shadow: 2px 2px 0 #000000;
}

#pageheader span {
  font-size: 0.8em;
}

.commonlinks {
  float: right;
  font-size: 0.8em;
}

.commonlinks li {
display:inline-block;
padding-left: 0.9em;
}

.commonlinks li:first-child {
  padding-left: 0px;
}

.commonlinks a {
  color: #19960c;
}

main {
		width: 100%;
	}


.topnav {
  margin: 1em 0 0 0;
  display: block;
  clear: left;
  padding-bottom: 2em;

}

.topnav a {
  float:left;
  color: #3e3e3e;
  text-align: center;
  padding: 0.2em 1.1em 0.2em 1.1em;
  margin-right: 1em;
  margin-bottom: 0.75em;
  border-radius: 0.15em;
  font-size: 1.5em;
  font-family: 'branded';
  background-color: #cccccc;
  box-shadow: 2px 2px 0 0 #000000;
}


#active  {
  background-color: #f6f6f6;
}

.story {
  clear: left;
  overflow: auto;
  padding: 1em 1em 0.5em 1em;
  margin-top: 20px;
  border: 1px solid grey;
}

.story h1 {
  margin-top: 1em;
}

.story p {
  margin-top: 1em;
}


img {
  border: 1px solid grey;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

#introduction a {
  color:  #19960c;
}

.features {
  border: 1px solid grey;
  padding: 1em;
  margin-top: 1em;
  display: inline-flex;

}

#shop {
max-width: 90%;
margin-right: 1em;
}

#shop h2 {
  margin-bottom: 0.5em;
}

#items {
  background-color: #dddddd;
  padding: 1em;

}

#items h3 {
  color: #127208;
}

#items p {
    margin-bottom: 2em;
}

#items a {
  color: #19960c;
}

#side {
  width: 33%;
  float: right;
}

#news {
  background-color: #dddddd;
  padding: 1em;
}

#news blockquote {
  padding: 0;
  margin: 0;
}

#news h2 {
  margin-bottom: 0.5em;
}

#news blockquote a {
  text-decoration: underline;
  color: #19960c;
}

#sender {
text-align: right;
margin-top: 0.7em;

}

#subscribe {
  background-color: #dddddd;
  padding: 1em;
  margin-top: 1em;
}

form {
  margin-top: 1em;
  font-size: 0.875em;
  font-weight: bold;
}

fieldset {
  display: block;
  background-color: white;
}

legend {
  padding-left: 0.5em;
}

.controlled {

  padding: 0.5em;
}

.controlled span {

  color: #ff0000;
}

label {
  float: left;
  padding-bottom: 0.2em;
}

input[type=text] {
  width: 95%;
}

input[type=submit] {
font-size: 1em;
padding:0.1em 1em 0.1em 1em;

}

#pagefooter {
  margin-top: 1em;
  background-color: #dddddd;
  padding: 1em;
}

#pagefooter p {
  font-size: 0.9em;
  font-weight: 600;
}
